<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extraer Datos de Usuarios</title>
</head>
<body>
    <h1>Datos de Usuarios</h1>
    <hr>
    <form action="/extraerDatoDeUnUsuario" method="post">
        <label>Extraer Datos de Usuario</label>
        <input type="text" placeholder="Nombre de Usuario" id="nombre" name="nombre"/>
        <button type="submit">Extraer</button>
    </form>

    <ul>
    <% if(typeof datos !== 'undefined'){ %>
        <% for (index in datos){ %>
            <li><p>Nombres y Apellidos: <%= datos[index].nombre %> <%= datos[index].apellido %></p></li>
            <li><p>Fecha de Nacimiento (dd/mm/aaaa): <%= datos[index].nacimiento %></p></li>
            <li><p>Sexo F/M: <%= datos[index].sexo %></p></li>
            <li><p>Correo Electrónico: <%= datos[index].correo %></p></li>
        <% } %>
    <% } %>
    </ul>


</body>
</html>